#maincon
{
    text-align: center;
    margin-top:10%;
    
}

#one
{
    
    border-radius: 40px;
    display: inline-block;
    padding:20px;
    
    margin:30px 60px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
#one:hover{
    border:1px solid #ff0054;
    background-color:#ff0054;
    border-radius: 40px
}

/* #write
{
    float:left;
    border: 1px solid white;
} */
#write1

{
    text-align: left;
    margin-left:30px;
    color:white;
    font-size:25px;
}
#write1:hover{
    color:#ff0054;
    font-weight: bold;
}
#write2
{
    text-align: left;
    margin-left:30px;
    color:white;
    font-size:20px;
}
#para
{
    text-align: left;
    margin:70px;
    font-size: 20px;
    color:white;
    padding-right:45%;
}

